[Unit]
Description=minerstat-service
Requires=network-online.target
StartLimitIntervalSec=0

[Service]
Type=simple
PrivateTmp=no
ExecStartPre=/bin/sh -c "screen -wipe; sleep 10"
ExecStartPre=/bin/sh -c "screen -A -m -d -S minerstat sh /config/minerstat/minerstat.sh"
ExecStart=/bin/sh -c "echo done"

[Install]
WantedBy=multi-user.target