[Unit]
Description=minerstat-service
Requires=network-online.target
StartLimitIntervalSec=0

[Service]
Type=simple
PrivateTmp=no
ExecStartPre=screen -wipe
ExecStartPre=screen -A -m -d -S minerstat sh /config/minerstat/minerstat.sh
ExecStart=echo done

[Install]
WantedBy=multi-user.target