[Unit]
Description=minerstat-service
Requires=config.mount
StartLimitIntervalSec=0

[Service]
Type=simple
PrivateTmp=no
ExecStart=/bin/sh /config/minerstat/minerstat.sh

[Install]
WantedBy=multi-user.target